name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.14

    - name: Build assembler
      run: |
        cd assembler
        go build -v ./...
        
    - name: Build vm-translator
      run: |
        cd vm-translator
        go build -v ./...

    - name: Test assembler
      run: |
        cd assembler
        go test -v --tags=integration ./...
        
    - name: Test
      run: |
        cd vm-translator
        go test -v --tags=integration ./...
        
